<div class="container mt-5 position-relative">
	<h1 class="mb-4"> Users </h1>

	<!-- Conditional Rendering -->
	<div *ngIf="users.length > 0; else noUsers" class="user-list card p-3 shadow">
		<!-- Task List -->
		<ul class="list-group">
			<li *ngFor="let user of users; let i = index"
				class="list-group-item user-item d-flex align-items-center justify-content-between mt-2"
				[ngClass]="{ 'user-completed': user.completed }">
				<!-- Editable User Input -->
				<input *ngIf="user.editing" type="text" [(ngModel)]="user.name" class="form-control form-control-sm me-2" />

				<!-- User Display -->
				<span *ngIf="!user.editing" class="task-text flex-grow-1">
					<i class="fas fa-check-circle task-icon me-2" *ngIf="user.completed"></i>
					{{ user.name }}
				</span>

				<!-- User Actions -->
				<div class="d-flex align-items-center">
					<!-- Save Button -->
					<button *ngIf="user.editing" class="btn btn-sm btn-primary me-2 mt-2 p-2" (click)="toggleEditUser(i)">
						<i class="fas fa-save"></i>
					</button>

					<!-- Dropdown Menu -->
					<div class="dropdown">
						<button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
							aria-expanded="false"></button>
						<ul class="dropdown-menu">
							<li>
								<button class="dropdown-item" (click)="toggleEditUser(i)">
									Edit
								</button>
							</li>
							<li>
								<button class="dropdown-item text-danger" (click)="deleteUser(i)">
									Delete
								</button>
							</li>
						</ul>
					</div>
				</div>
			</li>
		</ul>
	</div>

	<!-- No Tasks Template -->
	<ng-template #noUsers>
		<div class="text-center no-users-container">
			<i class="fas fa-users no-users-icon"></i>
			<p class="no-users-text">No users.</p>
		</div>
	</ng-template>

	<!-- Add Task Input -->
	<div class="input-group mb-3 container-user">
		<input type="text" [(ngModel)]="newUser" class="form-control" placeholder="Add a new user..." />
		<button (click)="addUser()" class="btn btn-primary">
			Add User
		</button>
	</div>
</div>